.log {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.log::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(93, 84, 240, 0.5);
    background: -webkit-linear-gradient(left, rgba(0, 168, 255, 0.5), rgba(185, 0, 255, 0.5));
    background: -o-linear-gradient(left, rgba(0, 168, 255, 0.5), rgba(185, 0, 255, 0.5));
    background: -moz-linear-gradient(left, rgba(0, 168, 255, 0.5), rgba(185, 0, 255, 0.5));
    background: linear-gradient(left, rgba(0, 168, 255, 0.5), rgba(185, 0, 255, 0.5));
    pointer-events: none;
}

.box {
    background-color: aliceblue;
    border-radius: 5%;
    padding: 3%;
}

h1 {
    text-align: center;
    margin: 3%;
    padding: 10%;
    color: blue;
}

p {
    text-align: center;
    margin: 3%;
    padding: 10%;
}

.ir {
    margin: 3%;
    font-size: 25px;
    color: blue;
}

.s :hover {
    color: black;
    transform: scale(1.2);
}